@media screen and (max-width: 768px){
    main{
        width:auto;
        height: 100vh;
        flex-direction: column;
    }

    .player{
        height: 150px;
        
    }

    .score {
        font-size: 4rem;
        font-weight: 300;
        color: #c7365f;
        margin-bottom: auto;
      }

    .btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #444;
        background: none;
        border: none;
        font-family: inherit;
        font-size: 1.8rem;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 400;
        transition: all 0.2s;
      
        background-color: white;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
      
        padding: 0.7rem 2.5rem;
        border-radius: 50rem;
        box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
      }
      
      .btn::first-letter {
        font-size: 2.4rem;
        display: inline-block;
        margin-right: 0.7rem;
      }
      
      .btn--new {
        top: 2rem;
      }
      .btn--roll {
        top: 36.3rem;
      }
      .btn--hold {
        top: 42.1rem;
      }
      
      .btn:active {
        transform: translate(-50%, 3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      }
      
      .btn:focus {
        outline: none;
      }
      
      .dice {
        position: absolute;
        left: 50%;
        top: 16.5rem;
        transform: translateX(-50%);
        height: 10rem;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
      }
      
      .player--winner {
        background-color: #86e996;
      }
      
      .player--winner .name {
        font-weight: 700;
        color: #c7365f;
      }
      
      .hidden {
        display: none;
      }
      
}