@media screen and (max-width: 768px){
    
    
html {
    /*font-size: 14px;*/
    box-sizing: border-box;
  }
  
    
  main {
    position: relative;
    width: 80%;/*changed*/
    height: auto;/*changed*/
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: column;/*changed*/
  }
  
  .player {
    /*flex: 100%;*/
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
  }

  .name {
    position: relative;
    font-size: 18px;/*changed*/
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .score {
    font-size: 42px; /*Changed*/
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
  }
  
  .current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 50%; /*changed*/
    padding: 10px; /*changed*/
    text-align: center;
    transition: all 0.75s;
  }

  
.current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px; /*changed*/
    color: #ddd;
  }

  
.current-score {
    font-size: 32px; /*changed*/
  }
  

  .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
  
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  
    padding: 2px 8px;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }
  
  
.btn::first-letter {
  font-size: 16px;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 2%;
}
.btn--roll {
  top: 45%;
}
.btn--hold {
  top: 52%;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 10%;
  top: 45%;
  transform: translateX(-50%);
  height: 40px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
         
}